 <div class="slider-home">
        
        <div class="owl-carousel owl-theme" id="sliderHome">

            <div class="item">
                <div class="overflow-slider"></div>
                <img src="images/86556.jpg" alt="slider1">
                <div class="slider-text">
                    <div class="box-text wow fadeInDown" data-wow-delay="0.50s">
                        <h1>Dress of the Seven</h1>
                        <p class="price wow fadeIn" data-wow-delay="0.5s">633 S.R</p>
                        <p class="old_price wow fadeIn" data-wow-delay="0.5s">1060 S.R</p>  
                    </div>
                    <a href="#" class="wow fadeIn" data-wow-delay="0.30s"> see all offers </a>
                </div>
            </div>
            
            <div class="item">
                <div class="overflow-slider"></div>
                <img src="images/Summer-smoothies-fruit-drinks-glass-cups_1920x1200.jpg" alt="slider1">
                <div class="slider-text wow fadeInDown">
                    <div class="box-text">
                        <h1>Two dress Seven</h1>
                        <p class="price">400 S.R</p>
                        <p class="old_price">800 S.R</p>   
                    </div>
                    <a href="#"> see all offers </a>
                </div>
            </div>
            
            <div class="item">
                <div class="overflow-slider"></div>
                <img src="images/3587-12.jpg" alt="slider1">
                <div class="slider-text">
                    <div class="box-text">
                        <h1>gental man and women</h1>
                        <p class="price">1200 S.R</p>
                        <p class="old_price">3000 S.R</p>   
                    </div>
                    <a href="#"> see all offers </a>
                </div>
            </div>

        </div>
    </div> <!-- // slider -->